.grid {
    display: grid;
    grid-auto-flow: row;
    column-gap: theme("spacing.8");

    grid-template-columns:
        [screen-left]
        minmax(theme("spacing.8"), calc(50% - theme("spacing.8") - theme("grid.maxWidth") / 2))
        [content-left]
        repeat(12, minmax(0, 1fr)) // minmax(0,1fr) makes tracks not grow with overflowing content
        [content-right]
        minmax(theme("spacing.8"), calc(50% - theme("spacing.8") - theme("grid.maxWidth") / 2))
        [screen-right];
}
